Repository l-oksanen/vakio: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbstripout, ruff, isort, black

nbstripout:
  name: nbstripout (poetry)
  entry: poetry run nbstripout
  language: system
  args:
  - --keep-output
  - --extra-keys
  - metadata.kernelspec metadata.language_info.version

ruff:
  name: ruff (poetry)
  entry: poetry run ruff check --fix
  language: system

isort:
  name: isort (poetry)
  entry: poetry run isort
  language: system

black:
  name: black (poetry)
  entry: poetry run black
  language: system

Fixed ruff complaints
  vakio/__init__.py
  vakio/alg.py
  vakio/palette.py
Due: ruff, isort, black

Updated gitignore
  .gitignore
Due: none

Fixed a bug introduced by ruffing (need non-strict zip)
  vakio/alg.py
Due: ruff, isort, black

Fixed bug introduced by ruffing (package level imports)
  vakio/__init__.py
Due: ruff, isort, black

Changed view.hexes to use mosaic layout
  tests/test_mosaic_layout.py
  vakio/view.py
Due: ruff, isort, black

Improved the algorithm
  vakio/alg.py
Due: ruff, isort, black

Updated other components to work witth the new algorithm
  vakio/metadata.py
  vakio/palette.py
  vakio/view.py
Due: ruff, isort, black

Added rainbow and ansi mappings
  vakio/metadata.py
  vakio/palette.py
  vakio/view.py
Due: ruff, isort, black

Added consistency test for semantic mapping
  tests/test_metadata.py
Due: ruff, isort, black

Updated notebooks
  comparison.ipynb
  design.ipynb
  usage.ipynb
Due: nbstripout

Removed base24 names
  vakio/metadata.py
Due: ruff, isort, black

Color comparison prints also chroma
  vakio/view.py
Due: ruff, isort, black

Updated notebooks
  comparison.ipynb
  design.ipynb
Due: nbstripout

Updated README
  README.md
Due: none

Added options to hide rainbow and ansi names
  design.ipynb
  vakio/view.py
Due: nbstripout, ruff, isort, black

Systematized printing of hexes
  vakio/view.py
Due: ruff, isort, black

Added notes on design choices of semantics
  design.ipynb
Due: nbstripout

Sorted the Github palette in hue
  comparison.ipynb
Due: nbstripout

Compute perceptual distance in more natural way
  vakio/alg.py
Due: ruff, isort, black

Updated notebook outputs
  comparison.ipynb
  design.ipynb
Due: nbstripout

Generate dark grey with lightness dark_L
  vakio/palette.py
Due: ruff, isort, black

Better metadata for greys, metadata differentiates between ui and text
  vakio/metadata.py
Due: ruff, isort, black

Consistency tests for greys
  tests/test_metadata.py
Due: ruff, isort, black

Added thresholding for xkcd names that are close to white
  vakio/view.py
Due: ruff, isort, black

Added remark on UI colors
  design.ipynb
Due: nbstripout

Made vscode token colors example more generic
  examples/vscode_token_colors.jsonc
  usage.ipynb
Due: nbstripout

Removed pyyaml from dev dependencies
  examples/github.yaml
  poetry.lock
  pyproject.toml
Due: none

Added license
  LICENSE
Due: none

Added a screenshot
  README.md
  examples/screenshot_bisect.png
Due: none

Fixed Catppuccin translation
  vakio/metadata.py
Due: ruff, isort, black

Added a quick fix to a bug in Catppuccin VS Code theme (operators should have color sky, not teal)
  examples/vscode_token_colors.jsonc
Due: none

Updated notebooks
  design.ipynb
  usage.ipynb
Due: nbstripout

Removed a mention of future feature
  usage.ipynb
Due: nbstripout

Fixed escaping of url
  design.ipynb
Due: nbstripout

Added important in table text aligments
  comparison.ipynb
  design.ipynb
  vakio/view.py
Due: nbstripout, ruff, isort, black

Moved text alignment from tr to td
  comparison.ipynb
  design.ipynb
  vakio/view.py
Due: nbstripout, ruff, isort, black

Show hue in tables
  comparison.ipynb
  design.ipynb
  vakio/view.py
Due: nbstripout, ruff, isort, black

Removed copyable_preview as it doesn't work at Github
  vakio/view.py
Due: ruff, isort, black

Fixed usage
  usage.ipynb
Due: nbstripout

Path conditions:
  nbstripout: any of: \.ipynb$
  ruff: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
